.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: darkorange;
}

.active {
    color: red;
    background-color: blueviolet;
    border: 1px solid green;
}